.frame {
  max-width: 280px;
  max-height: 170px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 10px;
}

.image {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.wrapper {
  padding: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}